.conteiner-fluid{
    width: 100%;
}

.conteiner-form{

    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 50px;
    margin-left: 400px;
    justify-content: center;
    h2{
        margin: 15px;
    font-size: 35px;
}
    p{
        font-size: 10px;
        line-height: 1,6;
        margin-bottom: 30px ;

    }
    a{ 
        font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color:$secondaryColor;
    font-weight: 500;
    }
    
    }

    .conteiner-form form .campo,textarea {
        width: 100%;
        padding: 15px 10px;
        font-size: 15px;
        border: 1px solid $keyColor;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px;
    }
    
    .conteiner-form form textarea {
        max-width: 530px;
        min-width: 530px;
        min-height: 140px;
        max-height: 150px;
       
    
    }
    
    .conteiner-form .btn-enviar{
        padding: 15px;
        font-size: 16px;
        border: none;
        outline: 0px;
        background-color: $mainColor;
        color: $keyColor2;
        border-radius: 3px;
        cursor: pointer;
    
    }

    header img{
   
        width: 100%;
        display: inline-block; 
      
     }
 @keyframes contenedorAnimado{
        0%{background-image:url(../img/invierno.png) ;}
        33%{background-image:url(../img/1.png) ;}
        66%{background-image:url(../img/2.png) ;}
        100%{background-image:url(../img/3.png) ;}
       
        
 }
 .contenedor-animado{ 
    display: grid;
    width: 100%;
    background-size: 100%;
    animation-name: contenedorAnimado ; 
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
.contenedor-tamaño{
    @extend .contenedor-animado;
    height: 70vh;
}

.contenedor-article{
    width: 80%;


}



     