.botonera-navbar{
    background-color: $mainColor;
    height: 40px;
    img{
        width: 50px;
    }
    ul{
        li{
            font-size: 20px;
            margin-right: 20px;
            a{
                font-size: 20px;
                font-family: 'roboto', sans-serif;
                font-weight: 100;
            }
        }
    }
}

.nav-item {
    font-size: 20px;
   color: $keyColor2;
}

.nav-link {
    color: $keyColor2;
    font-size: 20px;
    
}



.box-top{
    position: sticky;
    padding: 6px 0;
    background-color: $keyColor2 ;
    color: $keyColor ;
    flex-wrap: wrap;
    text-align: center;
    font-size: 10px; 
 
}


.d-flex{
    background-color:$mainColor;
    
 
 }
 
 .btn {
     background-color: $mainColor;
     color: $keyColor2;
 }
 
 .form-group{
     margin: 30px;
 }
 .form-check {
     margin: 20px;
 }
 
 .form-check-label{
     margin: 20px;
 }
